{{ form_start(form, { 'attr' : { 'class': 'user' } })}}
    
    <div class="form-group">
    {{ form_widget(form.nombre) }}
    </div>
    
    <button class="btn btn-primary btn-user ">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
