{% extends 'base.html.twig' %}

{% block body %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Consultorios</h1>
<p class="mb-4"></p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3 flex">
    <h5 class="m-0 font-weight-bold text-primary" style="display:inline">Lista</h5>
    <a name="" id="" class="btn btn-primary float-right" href="{{ path('consultorio_new') }}" role="button">Nuevo</a>
    
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>                
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
               
                <th>Nombre</th>
                <th  class="actions"></th>
            </tr>
        </tfoot>
        <tbody>
            {% for consultorio in consultorios %}
                <tr>                    
                  <td>{{ consultorio.nombre }}</td>
                  <td >
                    <a type="button" class="btn btn-outline-secondary" href="{{ path('consultorio_edit', {'id': consultorio.id}) }}">Editar</a>                      
                  </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No hay registros</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
    

    
{% endblock %}
